asn1crypto==0.24.0
attrs==19.1.0
cffi==1.12.3
cryptography==2.7
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
pyOpenSSL==19.0.0
requests==2.7.0
service-identity==18.1.0
six==1.12.0
telebot==0.0.3
TelegramBotAPI==0.3.2
